[Unit]
Description=Nodejs sample docker application

[Service]
ExecStart=/usr/bin/node {{ app_dir}}/app/src/index.js
Restart=on-failure
RestartSec=5s
User={{ nodejs_user }}
Group={{ nodejs_group }}
Environment=MYSQL_HOST={{ db_host }}
Environment=MYSQL_USER={{ db_user }}
Environment=MYSQL_PASSWORD={{ db_password }}
Environment=MYSQL_DB={{ db_name }}
WorkingDirectory={{ app_dir }}/app/src

[Install]
WantedBy=multi-user.target
